*{
	margin: 0;
	padding: 0;
	font-family: '微软雅黑';
}
body{
	background: #F5F5F5;
}
a{
	text-decoration: none;
	border: none;
}
li{
	list-style: none;
}
.header{
	width: 100%;
	height: 90px;
	background: black;
	/* background: red; */
	position: fixed;
	z-index: 999;
}
#header{
	width: 100%;
	height: 90px;
}
.header .nav{
	width: 1200px;
	height: 100%;
	background: black;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.header .nav .log{
	width: 143px;
	height: 100%;
    position: absolute;
    left: 0;
    top: 2px;
    overflow: hidden;
    background: url('../img/logo1.png') no-repeat center;
    background-size: 130% 130%;
}
.header .nav .log a{
	display:block;
	width: 100%;
	height: 100%;
}
.nav .log a img{
	width: 100%;
	height: 100%;
}
.header .nav ul{
	width: 643px;
	height: 25px;
	position: absolute;
	left: 200px;
	top: 38px;
	display: flex;
	justify-content: space-around;
}
.header .nav ul li{
	float: left;
	
}
.header .nav ul li a:hover{
	border-bottom: 1px solid white;
}
.header .nav ul li a{
	width: 100%;
	height: 100%;
	color: white;
	font-size: 14px;
	display: block;
	text-align: center;
}
/* 头部结束 */
/* 轮播开始 */
.elunbo{
	width: 100%;
	height: 347px;
	position: relative;
}
.zhezhao{
	width: 100%;
	height: 347px;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
}
.lunbo{
	width: 100%;
	height: 347px;
	background: url('../img/lianxi.png') no-repeat center;
}
/* 轮播结束 */
.text{
	margin-top: 68px;
	/* width: 200px; */
	height: 52px;
}
.text .h4{
	color: grey;
	font-size: 30px;
	margin-left: 957px;
}
.text .h3{
	margin-left: 11px;
	margin-top:11px; 
	color: grey;
}
/* 内容开始 */
.connect{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.connect .leftbox{
	width: 503px;
	height: 429px;
	margin-bottom: 50px;
	position: absolute;
	left: 70px;
	top: 0;
}
.connect .leftbox .top{
	width: 503px;
	height: 188px;
	margin-bottom: 50px;
}
.leftbox .top p{
	color: #939399;
   font-size: 18px;
   margin-bottom: 10px;
}
.leftbox .top .bi{
    display: block;
    width: 10%;
    height: 2px;
    background: #939399;
    opacity: .8;
    margin-bottom: 10px;
}
.leftbox .top .tel{
	width: 503px;
	height: 30px;
	/* background: pink; */
	margin-bottom: 10px;
	position: relative;
}
.leftbox .top .tel h3{
	position: absolute;
	color: grey;
	left: 40px;
	top: 0;
}
.leftbox .top .ti{
    display: block;
    width: 30%;
    height: 2px;
    background: #939399;
    opacity: .8;
    margin-bottom: 10px;
}
.leftbox .top .qq{
	width: 503px;
	height: 30px;
	/* background: pink; */
	margin-bottom: 10px;
}
.leftbox .top .qq a{
	width: 30px;
	height: 50px;
	margin-bottom: 6px;
	color: #999;
    font-size: 12px;
    margin-right: 8px; 
}
.leftbox .top .qq a img{
	width: 30px;
	height: 30px;
}
/* 左边结束 */
/* 右边开始 */
.connect  .rightbox{
	width: 362px;
	height: 424px;
	float: right;
    padding-bottom: 50px;
    position: absolute;
    right: 70px;
    top: 0;
}
.connect  .rightbox img{
	width: 100%;
	height: 100%;
}
/* 右边结束 */

/* 内容结束 */
/* 底部开始 */
.footer{
	background: #222222;
	padding: 2em 0;
	color: #888888;
	line-height: 30px;
	padding-top: 35px;
	font-size: 0.93em;
	height: 220px;
	padding-left: 100px;
	padding-right: 100px;
}
.footer a{
	color:#888888;
}
.footer a:hover{
	text-decoration:none;
}
.footer-left{
	float:left;
	width:600px;
	margin-left:25px;
}
.footer-left p{
	margin:20px 0;
	clear:both;}
.footer-left p a{
	padding:0 1.5em;
	display:block;
	float:left;
	border-right:1px solid #838383;
	height:16px;
	line-height:16px;
	margin:0 0 35px 0;
}
.footer-left p a:hover{
	color:#2d8acb;
}
.footer-left p a:first-child{
	padding-left:0;
}
.footer-left p a:last-child{
	border-right:none;
}
.footer-left .a4{
	background:url(../img/400-888-88881.png) no-repeat;
	background-size:cover;
	min-width:199px;
	display:block;
	float:left;
	height:50px;
	border:none;
	margin:0 60px 0px 0; }
.footer-left .a4:hover{
	background:url(../img/400-888-88881-h.png) no-repeat;
}
.footer-left .a5{
	background:url(../img/may8@live.png) no-repeat;
	background-size:cover;
	min-width:194px;
	height:50px;
	border-right:none 0px;
	margin:0 0 0px 0;}
.footer-left .a5:hover{
	background:url(../img/may8@live-h.png) no-repeat;
}
.footer-right{
	float:right;
	text-align:center;
	border-left:1px solid #434343;
	padding:30px 10px;
	margin-top:20px;}
.footer-right ul li{
	display:block;
	float:left;
	margin:0 10px;
	width:80px;
	float:left;
	display:block;
	text-align:center;
}
.footer-right ul li .a1{
	background:url(../img/icon-05.png) center no-repeat;
	width:100%;
	height:64px;
	display:block;
	float:left;
	margin-bottom:10px;
}
.footer-right ul li .a1:hover{
	background:url(../img/icon-05-h.png) center no-repeat;
}
.footer-right ul li .a2{
	background:url(../img/icon-06.png) center no-repeat;
	width:100%;
	height:64px;
	display:block;
	float:left;
	margin-bottom:10px;
}
.footer-right ul li .a2:hover{
	background:url(../img/icon-06-h.png) center no-repeat;
}
.footer-right ul li .a3{
	background:url(../img/icon-07.png ) center no-repeat;
	width:100%;
	height:64px;
	display:block;
	float:left;
	margin-bottom:10px;}
.footer-right ul li .a3:hover{
	background:url(../img/icon-07-h.png) center no-repeat;
}
/* 底部结束 */